.sectionAnalysis {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5rem;

  padding: 4rem;
  color: #4c3bcf;
  flex: 1;
}

.sectionAnalysis h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.sectionAnalysis form {
  flex: 0 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 1rem;
}

.sectionAnalysis label {
  font-family: inherit;
  font-weight: 600;
}

.sectionAnalysis input,
.sectionAnalysis select {
  outline: 0;
  color: #6857ec;
  font-family: inherit;
  font-weight: 500;
  padding: 1.5rem;

  background: unset;
  border-radius: 1rem;
  border: 1.5px solid #6857ec;
}

.sectionAnalysis input:not(:last-child),
.customSelect:not(:last-of-type) {
  margin-bottom: 1.5rem;
}

.sectionAnalysis input::placeholder {
  color: #9b8ff6;
}

.sectionAnalysis input::-webkit-inner-spin-button,
.sectionAnalysis input::-webkit-outer-spin-button {
  display: none;
}

.sectionAnalysis select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
}

.customSelect {
  position: relative;
  width: 100%;
}

.customSelect::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2rem;

  border-top: 0.5rem solid #4835d8;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
}

/* Grid layout for element */
.sectionAnalysis label:nth-of-type(1) {
  grid-column: 1 / 1;
  grid-row: 1 / 2;
}

.sectionAnalysis input:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.sectionAnalysis label:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.sectionAnalysis input:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.sectionAnalysis label:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.sectionAnalysis input:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.sectionAnalysis label:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.customSelect:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.sectionAnalysis label:nth-of-type(5) {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.sectionAnalysis select:nth-of-type(2) {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.sectionAnalysis label:nth-of-type(6) {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.sectionAnalysis input:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.sectionAnalysis label:nth-of-type(7) {
  grid-column: 1 / 2;
  grid-row: 7 / 8;
}

.sectionAnalysis select:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 8 / 9;
}

.sectionAnalysis label:nth-of-type(8) {
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}

.sectionAnalysis input:nth-of-type(5) {
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}

.sectionAnalysis button {
  border: 0;
  outline: 0;
  color: #fff;
  cursor: pointer;

  padding: 2rem;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  background: #4c3bcf;
  border-radius: 1rem;

  grid-column: 1 / 3;
}
